@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital@0;1&display=swap');
@import 'flex.scss';
@import 'custom.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 16px;
}

$default-border: 1px solid grey;

.container {
  width: 85%;
  margin: 50px auto;
  border: $default-border;
  box-shadow: 0 5px 10px grey;

  .material-icons {
    font-size: inherit;
    color: grey;

    &:hover {
      color: black;
      cursor: pointer;
    }
  }

  .drag {
    &:hover {
      color: black;
      cursor: move;
    }
  }

  .pointer {
    &:hover {
      color: black;
      cursor: pointer;
    }
  }

  > div,
  li {
    padding: 10px;
    border-bottom: $default-border;
  }

  > div,
  li,
  > button {
    min-height: 40px;
  }

  button,
  input,
  li,
  span {
    @extend %minimal;
  }

  button {
    color: grey;
  }

  .btn-clear {
    &:hover {
      text-decoration: underline;
    }
  }

  input {
    font-style: italic;
    color: grey;
    margin-right: 10px;
  }

  span {
    margin-right: 10px;

    &:hover {
      cursor: default;
    }

    &:focus-within {
      cursor: text;
    }
  }
}
